# Default settings for docker-compose
# @see https://docs.docker.com/compose/reference/envvars/#compose_file
COMPOSE_PROJECT_NAME=hexbatch
COMPOSE_FILE=docker-compose.yml
COMPOSE_CONVERT_WINDOWS_PATHS=1

# build
PHP_VERSION=7.3
TIMEZONE=UTC
NETWORKS_DRIVER=bridge

# application
APP_USER=www-data
APP_GROUP=www-data
APP_USER_ID=1000
APP_GROUP_ID=1000
APP_CODE_PATH_HOST=../
APP_CODE_PATH_CONTAINER=/var/www/current

# required so we can reach the nginx server from other containers via that hostname
APP_HOST=hexbatch.local

# nginx
NGINX_HOST_HTTP_PORT=80
NGINX_HOST_HTTPS_PORT=443

# workspace
WORKSPACE_HOST_SSH_PORT=2222

# mysql
DB_MYSQL_DATABASE=hexbatch_website
DB_MYSQL_USER=hexbatch_website
DB_MYSQL_PASSWORD=2fancy4pants
DB_MYSQL_ROOTPASSWORD=4people8dinner
DB_MYSQL_HOSTPORT=3310
DB_MYSQL_OWNPORT=3306
DB_MYSQL_CHARSET=utf8mb4

#volumes
VOLUME_DB_ID=hexbatch_website
